{%extends 'base.html'%}
    {%block content%}
    <!-- <h2 class="display-4 font-weight-bold">i  am dashboard</h2> -->
   

     {% if messages %}
        {%for message in messages%}
            <h6 style="color:#060507; text-align: center; padding-top: 10px;"{% if message.tags%} class="{{message.tags}}" {%endif%} >{{message}}</h6>
        {%endfor%}
     {%endif%}

     <style>
        th,td{
            border: 1px black solid;;
        }
    </style>
     {{group}}
  {%if post%}

        <h4 class=" container text-center alert alert-dark mt-3 style='width: 40%'; ">Information</h4>
        <div class="container">
        <table class="table table-striped table-dark table-hover">
          <thead class="thead-dark">
           
              <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Couse Name</th>
                <th scope="col">Description</th>
                <th scope="col">is_active</th>
                <th scope="col">created_at</th>
                
                <th scope="col">Mentor Name</th> 
                <th scope="col">Request</th>
                {% if perms.app2.delete_post%}
                <!-- <th scope="col">Add</th>      -->
                <th scope="col">Update</th>  
                <th scope="col">Delete</th> 
                <th scope="col">Followers</th>   
                {%endif%}
              </tr>
              {% for st in group%}
              {{st.username}}
           
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{st.username}}</td>
                <td>{{st.desc}}</td>
                <td>{{st.is_active}}</td>
                <td>{{st.created_at}}</td>
                <td>{{st.mentor}}</td>
                <td><form action="{% url 'follow' st.id %}" method="post" >{%csrf_token%}
                <input type="submit" class='btn btn-danger btn-sm' value="Follow Course">
                </form></td>
                {% if perms.app2.delete_post%}
                <!-- <td><a href="{% url 'add' %}" class='btn btn-warning btn-sm'>Add</a></td> -->
                <td><a href="{% url 'updatedata' st.id %}" class='btn btn-warning btn-sm'>Update</a></td>
                <!-- <td><form action="{% url 'updatedata' st.id %}" method="post" >{%csrf_token%}
                    <input type="submit" class='btn btn-warning btn-sm' value="Update"></form>
                </td> -->
                <!-- <td><a href="{% url 'delete' st.id %}" class='btn btn-danger btn-sm'>Delete</a></td> -->
                <td><form action="{% url 'delete' st.id %}" method="post" >{%csrf_token%}
                    <input type="submit" class='btn btn-danger btn-sm' value="Delete"></form>
                </td>
                <td>{{st.student}}</td>
                {%endif%}
                {%endfor%}
          </tr>  
        </tbody>
    </table>
  {%else%}
    <h3>No data</h3>
{%endif%}
<a class='btn btn-danger btn-sm' href="{% url 'logout'%}">Logout</a>


     {%endblock content%}

</div>
