<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href ="{% static 'app2/css/style.css'%}"/>
    
    <title>{{title}}</title>
</head>
<body>
    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student">Student</a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link disabled" href="/mentor">Mentor</a>
            </li>
            {% if request.user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'dashboard'%}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'signup'%}">Signup</a>
            </li>


            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'login'%}">Login</a>
            </li>
            {% endif %}
          </ul>

        </div>
      </nav>
      <!-- navbar ends -->


      {%block content%}{%endblock content%}
      {%block content1%}{%endblock content1%}
    <!-- <h2>{{cname}}</h2> -->
    <!-- <img src="{%static 'app1/images/pic1.jpg'%}" alt=""> -->
    <!-- <form action="">
        <input type="button" value="clickme" onclick="disp()"/>
    </form> -->
    <script src="{%static 'app2/js/all.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>