{%extends 'base.html'%}
<h3 class='text-white my-5'>Dashboard </h3>
<div class="jumbotron jumbotron-fluid jumbo-color">
<div class="container">
    {%block content%}
    <!-- <h2 class="display-4 font-weight-bold">i  am dashboard</h2> -->
    <p class="lead">Hello</p>

     {% if messages %}
        {%for message in messages%}
            <p {% if message.tags%} class="{{message.tags}}" {%endif%} >{{message}}</p>
        {%endfor%}
     {%endif%}

     <style>
        th,td{
            border: 1px black solid;;
        }
    </style>
     
{%if post%}

        <!-- <h5>{{post}}</h5> -->
        <table>
        <tr>
            <th>Course ID</th>
            <th>Couse Name</th>
            <th>Description</th>
            <th>is_active</th>
            <th>created_at</th>
            <th>Mentor Name</th>
            <th>Request</th>
            <th>Add</th>
            
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for st in post%}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.course}}</td>
            <td>{{st.desc}}</td>
            <td>{{st.is_active}}</td>
            <td>{{st.created_at}}</td>
            <td>{{st.mentor}}</td>
            <td class="text-center">
                <a href="" class='btn btn-warning btn-sm'>Follow Course</a>
            </td>
            <td class="text-center">
                <a href="{% url 'add' %}" class='btn btn-warning btn-sm'>Add</a>
            </td>
            <td class="text-center">
                <a href="{%  url 'delete' post.id %}" class='btn btn-warning btn-sm'>Update</a>   
            </td>
            <td class="text-center">
                <a href="" class='btn btn-warning btn-sm'>Delete</a>   
            </td>    
        </tr> 
        {%endfor%}
        </table>

{%else%}
    <h3>No data</h3>
{%endif%}
<a href="{% url 'logout'%}">Logout</a>


     {%endblock content%}

</div>