
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:rgb(172, 236, 238);}

p:hover{
  background-color: rgb(236, 47, 47);
  transform: scale(1.1); 
}

.left-side-bar{
  height: 100vh;
}